* {
    margin: 0;
    padding: 0;
}


body {
    margin: 0;
    display: grid;
    grid-template-areas:'navbar navbar navbar navbar'
                        'header header header header'
                        'section section section section'
                        'aside aside aside aside';

<<<<<<< HEAD
    grid-template-rows: 12vh 110vh 65vh 100vh; 
=======
    grid-template-rows: 12vh 110vh 100vh 60vh; 
>>>>>>> dd092d22c846fd55abecbc6f71478062ab6e8ea2
    grid-template-columns: 1fr 2fr 1fr 1fr;
}

.navbar {
  grid-area: navbar;
  background-color: black;
  align-items: center;
  display: flex;  
  justify-content: space-around;
  align-items: center;

}
.navbar a {
    text-decoration: none;
    color:white;
    font-size: 20px;

}

header {
    grid-area: header;
}

#bg_video{
    /* background: url(../videos/bg_pizza3.mp4) no-repeat; */
	position: fixed; 
	right: 0;
	min-width: 100%; 
	min-height: 100%; 
	z-index: -1000;
	background-size: cover; 
}

.fundoTransparente{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.438);
}

#TextoHeader{
    width: 50%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}

#formdiv{
    margin-top: -2%; 
    width: 23%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.555);
    display: flex;
    justify-content: center;
    align-content: center;
    border-top: 10px solid #c50000e0;
    border-block-end: 10px solid#c50000e0;
   
}

#formdiv form{
    width: 23%;
    height: 96%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#formdiv form label {
    color: white;
    font-size: 18px;
    
}
.label {
    margin-left: -220%;
}

#formdiv form h1 {  
    color: white;   
}

#formdiv form input {
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.267); 
    border: solid 0.5px rgba(245, 245, 245, 0.253);
}

#formdiv form input:focus{
    border: solid 2px whitesmoke;
}

#formdiv form input::placeholder {
    font-size: 16px;
    padding-left: 5px;
}

#formdiv form select {
    width: 250px;
    height: 40px;
    padding-left: 5px;
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.137); 
    border: solid 0.5px rgba(245, 245, 245, 0.253);
}

#formdiv form button {
    width: 250px;
    height: 40px;
    border: none;
    background-color: #c50000e0;
    border-radius: 4px;
    color: whitesmoke;
    font-size: 100%;
    cursor: pointer;
}

section{
    grid-area: section;
    background-color:#fafafa;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 10px solid black;
}

#div-pizzarias{
    background-color: black;
    height:10%;
    width: 25%;
    margin-left: 40%;
}

#div-pizzarias h2{
    text-align: center;
    color: white;
    font-size: 25pt;
}

.section_fundo{
    background-color: #fafafa;
    height: 90%;
    width: 100%;
    display:flex;
    align-items: center;
}

#img_section{
    height: 95%;
    width: 50%;
    padding: 1%;
    display: flex;
    align-items: center;
    margin-block-end: 2%;
}

#img_section img{
    height: 100%;
    widows: 100%;
    border-radius: 3%;
    padding: 1%;
    border-style: solid;
    border-top-color: #F70000;
    border-block-end-color: #F70000;
    /* border-style: solid;
    border-color: coral; */
}

.section_fundo p{
    text-align: center;
    color:#535353;
    font-size:25px;
}

#sectionButon {
    height: 75%;
    /* background: rgba(128, 128, 128, 0.411); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    
}
<<<<<<< HEAD
#sectionButon h1 {
=======


#sectionButon #pergunta_section{
    color: black;
>>>>>>> dd092d22c846fd55abecbc6f71478062ab6e8ea2
    align-items: stretch;
    font-size: 35pt;
}

#section_botao{
    width: 200px;
    height: 50px;
    border: none;
    color: black;
    background-color: white;
    border: solid 2px black;
    font-size: 15pt;
    margin-top: 10px;
}

#section_botao a {
    text-decoration: none;
}

#section_botao:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

aside{
    grid-area: aside;
<<<<<<< HEAD
    background-image:url(../img/aside-fundo.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.estrutura{
    width: 90vw;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
} 

#coluna1, #coluna2, #coluna3{
    text-align: center;
    font-family: sans-serif;
    font-size:15px;
    background-color: white;
    height: 550px;
    width: 350px;
}

#coluna1-img img, #coluna2-img img, #coluna3-img img{
    width: 100px;
    height: 100px;
    margin-top: 50px;  

=======
    background-color: lightcoral;
>>>>>>> dd092d22c846fd55abecbc6f71478062ab6e8ea2
}