* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    display: grid;
    grid-template-areas:'navbar navbar navbar navbar'
                        'header header header header'
                        'aside aside aside aside'
                        'article article article article'
                        'section section section section'
                        'footer footer footer footer';

    grid-template-rows: 12vh 110vh 90vh 105vh 90vh 20vh;
    grid-template-columns: 1fr 2fr 1fr 1fr;
}

.navbar {
    grid-area: navbar;
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.navbar a:hover{
    border-bottom: 2px solid red;
}

.navbar #iconnav{
    height: 500%;
    width: 25%;
}

header {
    grid-area: header;
}

#bg_gif{
    /* background: url(../videos/bg_pizza3.mp4); */
    position: fixed;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1000;
    background-size: cover;
}

.fundoTransparente {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.438);
    background-repeat: no-repeat;
}

#TextoHeader {
    width: 50%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}

#formdiv {
    margin-block-end: -10%;
    width: 23%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.555);
    display: flex;
    justify-content: center;
    align-content: center;
    border-top: 10px solid #c50000e0;
    border-block-end: 10px solid#c50000e0;
    position: relative; 
}

#formdiv form {
    width: 23%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#formdiv form label {
    color: white;
    font-size: 18px;  
}

#formdiv h1 {  
    color: white;   
    margin-top:15%;

}

.inputs {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 120px;
    right: 30px;
}

#formdiv input{
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.267); 
    border: solid 0.5px rgba(245, 245, 245, 0.253);
    margin-right: 5%;
}

#formdiv form button{
    margin-top:10%;
    width: 250px;
    height: 40px;
    border: none;
    background-color: #c50000e0;
    border-radius: 4px;
    color: whitesmoke;
    font-size: 100%;
    cursor: pointer;
}

aside {
    grid-area: aside;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    border-top: 10px solid black;
}

#div-cliente {
    background-color: black;
    height: 10%;
    width: 25%;
    margin-left: 38%;
    margin-block-end: 10%;
}

#div-cliente h2 {
    text-align: center;
    color: white;
    font-size: 25pt;
}

.estrutura {
    width: 100vw;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-block-end: 7%;
}

#coluna1,
#coluna2,
#coluna3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: whitesmoke;
    height: 550px;
    width: 350px;
    border-radius: 6%;
}

#coluna1-img img,
#coluna2-img img,
#coluna3-img img {
    width: 100px;
    height: 100px;
    position: relative;
    bottom: 145%;
}

#text_coluna {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    bottom: 5%;
}

#text_coluna h3 {
    font-family: sans-serif;
    font-size: 18px;
}

#text_coluna p {
    font-size: 10pt;
}

#aside_botao {
    width: 160px;
    height: 45px;
    border: none;
    color: white;
    background-color: black;
    border: solid 2px black;
    font-size: 15pt;
    margin-top: 10px;
}

#aside_botao a {
    text-decoration: none;
}

#aside_botao:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}


article{
    grid-area: article;
}

#carouselExampleIndicators{
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: center;

}


section {
    grid-area: section;
    background-color: #fafafa;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 10px solid black;
}

#div-pizzarias {
    background-color: black;
    height: 10%;
    width: 25%;
    margin-left: 38%;
}

#div-pizzarias h2 {
    text-align: center;
    color: white;
    font-size: 25pt;
}

.section_fundo {
    background-color: #fafafa;
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
}

.section_fundo p {
    text-align: center;
    color: #535353;
    font-size: 25px;
}

#sectionButon {
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#sectionButon #pergunta_section {
    color: #535353;
    align-items: stretch;
    font-size: 35pt;
}

#section_botao {
    width: 200px;
    height: 50px;
    border: none;
    color: black;
    background-color: white;
    border: solid 2px black;
    font-size: 15pt;
    margin-top: 10px;
}

#section_botao a {
    text-decoration: none;
}

#section_botao:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

footer{
    grid-area: footer;
}

#iconeFooter {
    width: 40%;
    height: 100%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.redonda {
    width: 40%;
    height: 25%;
    background: blue;
}

#iconeFooter #icon {
    width: 50%;
    height: 30%;
    background-color: gray;
}

#iconeFooter #icon img {
    width: 10%;
    height: 10%;
}

#footerForm {
    width: 30%;
    height: 80%;
    background-color: red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#footerForm form {
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#footerForm form input {
    width: 170%;
    height: 43%;
    border: none;
    border: 2px solid white;
    background-color: black;
}

#footerForm form input::placeholder {
    padding-left: 5%;
    font-size: 14px;
}

#footerForm form button {
    width: 170%;
    height: 43%;
    border: none;
}