{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="refresh" content="10">
    <link rel="stylesheet" href="{% static 'css/style.css' %} ">

    <title>Pizza</title>
</head>
<body>
    <nav class="navbar">
        <a href="">Home</a>
        <a href="">Pizzarias</a>
       <a href="">Contato</a>
   </nav>
   <header>
   <div class="fundoTransparente">
    <div id="TextoHeader">
        
        <h1>MONTE SUA PIZZA</h1>
    </div>
    <div id="formdiv">
           
        <form><br>
            <h1>Pedido!</h1>
            <br>
            <label class="label">Nome* </label>
            <input  type="text" name="nome">

            <label class="label">Endereço*</label>
            <input  type="text" name="nome">

            <label class="label">Quantidade*</label>
            <select name="--Selecione--">
                <option disabled="disable"></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="+5">+5</option>
            </select><br>

                <label class="label">Data*</label>
                <input  type="date" name="Data" class="formDate">
                <label class="label">Hora*</label>
                <input  type="time" name="Hora" class="formDate" placeholder="dd/mm/aaaa">
                <label class="label">Preço*</label>
            <select name="Preço">
                <option value="--Selecione--">--Selecione--</option>
                <option value="35.69">R$ 35.69</option>
                <option value="22.80">R$ 22.80</option>
                <option value="29.40">R$ 29.40</option>
            </select><br>
            <button>Monte Agora</button>
        </form>
    </div>
</div>
</header>

<section>
        <div id="div-pizzarias">
            <h2>Pizzarias</h2> 
        </div>
    
    <div class="section_fundo">
        <img src="../static/img/banner_index.jpg" alt="">
        <div id="sectionButon">
            <h1>Lorem ipsum dolor sit amet consectetur?</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi aliquid distinctio eum vero eligendi. Quo ea nesciunt libero quas, est cum, magnam reprehenderit, quia ducimus laudantium distinctio aspernatur minus placeat.</p>
            <button id="section_botao">Clique aqui</button>
        </div>
    </div>
</section>

<aside>
    <div class="estrutura">

        <div id="coluna1">
            <div id="coluna1-img">
                <img src="../static/img/pizza1.png" alt="">
            </div>
            <h3>Editable Theme</h3>  
            <p> Lorem ipsum dolor sit amet, consectetura dipiscing</p>
        </div>

        <div id="coluna2">

            <div id="coluna2-img">
                <img src="../static/img/pizza2.png" alt="icone1">
            </div> 
            <h3>Editable Theme</h3>  
            <p> Lorem ipsum dolor sit amet, consectetura dipiscing</p>
        </div>

        <div id="coluna3">

            <div id="coluna3-img">
                <img src="../static/img/pizza3.png" alt="icone3">
            </div>
            <h3>Editable Theme</h3>  
            <p> Lorem ipsum dolor sit amet, consectetura dipiscing</p>
        </div>

    </div>
</aside>


</body>
</html>