{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script defer src="script/scripts.js"></script> -->
    <link rel="stylesheet" href="{% static 'css/style.css' %} ">

    <title>Smart Pizza</title>
</head>

<body>
    <nav class="navbar">
        <a href="#">Home</a>
        <a href="#comofunciona">Como Funciona</a>
        <a href="#pizzarias">Pizzarias</a>
        <a href="#contato">Contato</a>
    </nav>
    
    <header>
        <div class="fundoTransparente">
            <div id="TextoHeader">
                
                <h1>MONTE SUA PIZZA</h1>
                <img id="bg_gif" src="../static/videos/bg_pizza5.gif" alt="">
            </div>
            
            <div id="formdiv">
                <h1>Pedido!</h1>
                {% if msg %}
                <p>{{ msg }} </p>
                {% endif %}
                
                <form method='POST'>
                    <div class="inputs">
                        {% csrf_token %}
                        {{ form }}
                        <button>Monte Agora</button>
                    </div>
                </form>
            </div>
        </div>
    </header>
    
    
    <aside>
        <div id="div-cliente">
            <h2>Como Funciona</h2>
        </div>
        
        <div class="estrutura">
            
            <div id="coluna1">
                <div id="coluna1-img">
                    <img src="../static/img/pizza1.png" alt="">
                </div>
                
                <div id="text_coluna">
                    <h3>Massa e bordas</h3>
                    <p>Primeiramente, o usuário escolhe o tipo de massa, e a borda de sua preferência.</p>
                </div>
                
            </div>
            
            <div id="coluna2">
                
                <div id="coluna2-img">
                    <img src="../static/img/pizza2.png" alt="icone1">
                </div>
                
                <div id="text_coluna">
                    <h3>Condimentos</h3>
                    <p>Depois, escolhe os ingredientes/condimentos principais da pizza, como, por exemplo, o(s) recheio(s).</p>
                </div>
                
            </div>
            
            <div id="coluna3">
                
                <div id="coluna3-img">
                    <img src="../static/img/pizza3.png" alt="icone3">
                </div>
                
                <div id="text_coluna">
                    <h3>Complementos</h3>
                    <p>Para finalizar, adiciona seus complementos, como, por exemplo, azeitonas, temperos, etc.</p>
                </div>
                
            </div>
            
        </div>
    </aside>
    
    
    <section>
        <div id="div-pizzarias">
            <h2>Pizzarias</h2>
        </div>
        
        <div class="section_fundo">
            
            <div id="sectionButon">
                <p id="pergunta_section">Lorem ipsum dolor sit amet consectetur?</p>
                
                <p>Somos uma plataforma digital, que visa agilizar e tornar criativa a maneira de pedir uma pizza,      tornamos o atendimento do estabelecimento mais rápido, prático, funcional e respeitoso!
                    Visando o mercado atual, nos deparamos com inúmeras dificuldades para melhor atender o cliente. Grande parte disso vem do momento em que seu cliente pensa em pedir uma pizza, e surge a indecisão de qual sabor pedir. Pensando nisso, tivemos a ideia de criar uma plataforma onde o usuário possa criar sua pizza do zero, incluindo os ingredientes de sua preferência, como, por exemplo, massa, molhos e outros complementos de total escolha de quem cria a pizza
                    Como se associar?
                    É dono de uma pizzaria? Esta plataforma foi desenvolvida para o seu negócio! 
                   Entre em contato e realize o cadastro de seu estabelecimento!</p>
                <button id="section_botao">Clique aqui</button>
            </div>
        </div>
    </section>
    
    <a name="contato"> 
        
        <footer>
            <div id="iconeFooter">
                <div id="icon">
                    <div class="redonda">
                        
                    </div>
                    <div class="redonda">
                        
                    </div>
                    <div class="redonda">
                        
                    </div>
                </div>
            </div>
            <div id="footerForm">
                <form action="">
                    <input type="email" name="email" placeholder="Endereço de email">
                    
                    <button>Enviar</button>
                </form>
                
                
            </div>
            
        </footer>
        
        
</body>
    
</html>